<div class="container mt-3">
    <div class="row">
        <div class="col text-center">
            <img src="img/images.jpg" alt="kakashi" class="img-thumbnail rounded-circle" width="200">
            <h1 class="display-4">Benjamin kurdasi</h1>
            <p class="lead">Lecturer | Content Creator</p>
        </div>
    </div>
</div>

